.profilebox {
    background-color: white;
}
.p1 {
    background-color: white;
    color: black;
    border: solid;
    border-radius: 2px;
}
.p1 :hover {
    font-weight: bolder;
    border-radius: 50%;
    cursor: pointer;
}
.p2 {
    background-color: white;
    color: black;
    border: solid;
}
.p2 :hover {
    font-weight: bolder;
    border-radius: 50%;
    cursor: pointer;
}
.p3 {
    background-color: white;
    color: black;
    border: solid;
}
.p3 :hover {
    font-weight: bolder;
    border-radius: 50%;
    cursor: pointer;
}