.owl-carousel {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 !important;
}

.owl-carousel .owl-stage-outer {
    align-items: center;
    justify-content: center;
    /* margin-top: 16px !important;
    margin-bottom: 16px !important; */
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    padding-left: 0.5cm !important;
    padding-right: 0.5cm !important;
    background-color: transparent;
    border-color: transparent;
}

.owl-nav {
    font-size: 30px;
    background-color: transparent;
}
.owl-dot {
    display: none;
}

.owl-carousel .owl-nav button.owl-prev:hover, 
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: rgb(154, 145, 145);
}

.cover {
    object-fit: cover;
}


