/* .img-container:hover .cart-btn{
    transform:translate(0,0);
}

.cart-btn:hover {
    color:var (--mainBlue);
    cursor: pointer;
}
.labelnew {
    position:absolute;
    top: 0;
    left: 0;
    background:var(--mainYellow);
    border:none;
    color: var(--mainWhite);
    font-size:1rem;
    border-radius:0 0 0 0;
    transition: all 0.5s linear;

}
.labelnew:hover {
    color:var(--mainDark);
    cursor:pointer
}
.labelold {
    position:absolute;
    top: 0;
    left: 0;
    background:var(--mainRed);
    border:none;
    color: var(--mainWhite);
    font-size:1rem;
    border-radius:0 0 0 0;
    transition: all 0.5s linear;
}

.labelold:hover {
    color:var(--mainDark);
    cursor:pointer
} */