.component-toggle {
    background-color: transparent;
    border: none;
    transition: all 0.5s linear;
    cursor: pointer;
    font-weight:bold;
}

.toggle {
    position: absolute;
    right:5px;
    font-size: larger;
}

.brandlist {
    display: none;
}
.brand {
    cursor: pointer;
    color:#303030;
}
.brand:hover {
    color:#A0A0A0;
}
