.card {
    background-color: white;
    transition: all 500ms linear;
    justify-content: center;
    width: 6cm;
    height: 7cm;
    object-fit: cover;
    border-color: rgb(99, 97, 97);
    margin: 0 auto;
    margin-bottom: 0.5cm;
}

.card .card-header {
    height: 0.8cm;
}

.card .card-body {
    text-align: center;
}

.card .card-footer {
    background: transparent;
    border-top: transparent;
    font-size: small;
    height: 2cm;
}

.card .card-footer:hover {
    background: rgb(187, 187, 187);
    transition: all 1s linear; 
}

.card .img-container {
    position: relative;
    overflow: hidden;
    background-color: white;
}

.card .card-body .card-img-top {
    transition: all 500ms linear;
    position: relative; 
    top: -15px;
}

.card .card-body .card-img-top:hover{
    transform: scale(1.3);
}

.card .card-header p {
    font-size: larger;
}

.cart-btn {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border: none;
    transition: all 500ms linear;
    transform: translate(100%, 100%);
}

.img-container:hover .cart-btn{
    transform: translate(0, 0);
}

.cart-btn:hover {
    background-color: black;
    fill: white;
    cursor: pointer;
}


.labelnew {
    position:absolute;
    top: 0;
    left: 0;
    background: rgb(179, 179, 14);
    border:none;
    color: white;
    font-size:1rem;
    border-radius:0 0 0 0;
    height: 0.8cm; 
    text-align: center;

}
.labelnew:hover {
    color: black;
    cursor:pointer
}

.labelold {
    position:absolute;
    top: 0;
    left: 0;
    background: rgb(206, 80, 80);
    border:none;
    color: white;
    font-size:1rem;
    border-radius:0 0 0 0;
    height: 0.8cm;    
    text-align: center;
}

.labelold:hover {
    color: black;
    cursor:pointer
}