@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .loginpanel {
      background-color: white;
      margin-top: 8rem;
  }
  .signuppanel {
    background-color: white;
    margin-top: 4rem;
}
  .logologin {
    height: 80%;
    width: 80%;
    object-fit: contain;
  }