.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
    padding-left: 2cm;
    padding-right: 2cm;
}

.navbar .navbar-brand {
    width: 200px;
    margin-right: 0;
}

.navbar .nav-profile {
    font-family: 'Sarabun', sans-serif;
    font-size: 100%;
    margin-right: 0.5cm;
}

.navbar .nav-profile:hover {
    font-weight: 700;
}

@media (min-width: 992px) {
    .navbar .mx-auto {
        padding-right: 2cm;
    }
}

.navbar .mx-auto .nav-text {
    font-family: 'Sarabun', sans-serif;
    font-size: 140%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    color: white;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0.5cm;
    margin-left: 0.5cm;
}

.how-to-sell-btn {
    background-color: white!important;
    color: black!important;
}

.how-to-sell-btn:hover {
    font-style: italic;
}

.navbar .mx-auto .nav-text:hover {
    font-weight: 700;
}

@media (max-width: 1305px) {
    .nav-profile,
    .mx-auto {
        font-size: 130%;
    }
}

@media (max-width: 1260px) {
    .nav-profile,
    .mx-auto {
        font-size: 120%;
    }
    .navbar-expand-lg {
        padding-left: 1cm;
        padding-right: 1cm;
    }
}

@media (max-width: 1150px) {
    .nav-profile,
    .mx-auto {
        font-size: 120%;
    }
    .navbar-expand-lg {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 1080px) {
    .nav-profile,
    .mx-auto {
        font-size: 100%;
    }
    .navbar-expand-lg {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.navbar .navbar-collapse.show{
    border-radius: 0cm;
}

@media (max-width: 992px) {
    .navbar .navbar-collapse.show{
        text-align: center;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    /* background-color: rgb(154, 145, 145); */
    font-weight: 700;
}


.navbar-light .navbar-nav .nav-link:focus {
    color: white;
    /* background-color: rgb(154, 145, 145); */
    font-weight: 700;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: white;
    background-color: transparent
}

.navbar .nav-icons {
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 992px) {
    .nav-icons {
        flex-direction: column-reverse;
    }
}

.nav-icon:hover,
.nav-icon:active,
.nav-icon.active {
    cursor: pointer;
    background-color: rgb(154, 145, 145);
}