:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
    --mainBlack: #000000;
}
body {
   
    font-family: 'Oswald', sans-serif !important;
    background:var(--mainWhite) !important; 
    color: var(--mainBlack) !important;
}

.text-title {
    font-family: 'DM Mono', monospace;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
}
.text-blue{
    color: var(--mainBlue);
}
.text-bright{
    color:var(--lightBlue);
}
